head {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: large;
}

.button-contact {
    min-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* .button-mail, .button-linkedin {
    display: inline-block;
    margin-right: 10px;
} */

button {
    transform: scale(2);
    font-size: 10px;
    padding: 2px 5px;
}

body {
    font-size: large;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    display: grid;
    place-items: center;

    text-align: center;
}


.main-photo {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.headline {
    margin-top: 4px;
    margin-bottom: 4px;
}

.website {
    margin-top: 3px;
    margin-bottom: 3px;
}


.main-content {
    padding-bottom: 50px;
}

.main-content > h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    background-color: beige;
    
}


.socials {
    width: 60px;
    height: 60px;
    padding: 0 10px;
}