---
import ScrollyTemplate from "../components/ScrollyTemplate.astro";
import page from "../content/scrolly-example";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{page.metadata.title}</title>
    <meta name="description" content={page.metadata.description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/components/scrolly-example/style.css" />
  </head>
  <body>
    <ScrollyTemplate page={page} />
    <script src="../scrolly/scrolly-entry.ts"></script>
  </body>
</html>
